

/* <!-- BUTTON GRADIENT --> */

.button-gradient {
    margin: 30px 0px;
    padding: 1% 4%;
    // ou 10px, 20px
    height: 50px;
    border: none;
    border-radius: 50px;
    @include gradient;
    color: $white;
    font-size: 16px;
    box-shadow: 0px 4px 15px 0px rgb(166, 133, 133);
    cursor: pointer;
    transition: 300ms ease-in-out;
  
    &:hover {
        opacity: 0.8;
        box-shadow: 0px 4px 15px 2px rgb(166, 133, 133);
    }

}

/* <!-- BUTTON LIKE --> */


.button-like {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;

    & i {
        position: absolute;
    }
  }
  
.animheartsolid {
    opacity: 0;
    transition: all 500ms ease-in-out;
  
    &:hover {
        opacity: 1;
        background-clip: text;
        -webkit-background-clip: text;
        /* necessaire pour le navigateur chrome */
        color: transparent;
        @include gradient-reverse;
    }
    
}