/* <!-- INFO-LOCALISATION --> */

.info-localisation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  gap: 17px;
  border: 1px solid #eaeaea;
  background-color: #eaeaea;
  box-shadow: 3px 2px 7px 1px grey;
  font-weight: map-get($font-weight, regular);
}

/* <!-- SEARCH-RESTAURANTS --> */

.search-restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  background-color: darken($white, 4%);
  text-align: center;

  &__heading {
    width: 70%;
    margin: 10px 0px;

    @include tablet-responsive {
      margin-bottom: 25px;
    }

    @include desktop-responsive {
      font-size: 40px;
      margin-bottom: 20px;
     }
  }

  & p {
    width: 85%;
    font-size: 18px;
    font-weight: map-get($font-weight, light );
  }
}

/* <!-- OPERATION --> */

.explain-operation {
  padding: 50px 0px;

  &__heading {
    margin: 10px 0px;
    padding-left: 3%;

    @include tablet-responsive {
      padding-left: 8%;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    padding-bottom: 20px;
    margin: auto;

    @include tablet-responsive {
      flex-direction: row;
      justify-content: space-around;
      width: 85%;
    }
  }
}

.explain-step {
  display: flex;
  align-items: center;
  height: 70px;
  gap: 4%;
  margin: 15px 0px;
  background-color: darken($white, 4%);
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px #d5d5d5;
  transition: background-color 300ms ease-in-out;

  @include tablet-responsive {
    width: 30%;
  }

  &:hover {
    background-color: darken($white, 7%);
  
    & > .explain-step__icon {
      color: $color-primary;
    }
  }

  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -10px;
    height: 24px;
    width: 24px;
    border-radius: 50px;
    background-color: $color-primary;
    color: $white;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 25px;
    color: #7e7e7e;
  }

  &__instruction {
    font-weight: map-get($font-weight, medium);
  }
}

/* <!-- RESTAURANTS-LIST --> */

.list-restaurants {
  display: flex;
  flex-direction: column;
  padding: 50px 15px 50px 15px;
  background-color: #f6f6f6;

  @include tablet-responsive {
    padding-left: 110px;
    padding-right: 110px;
  }

  &__heading {
    padding-bottom: 20px;
  }

  &__container {
    width: 100%;

    @include tablet-responsive {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

.restaurant-card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 251px;
  margin-bottom: 5%;
  /* (espacement entre les cards) */
  border-radius: 15px;
  background-color: $white;
  transition: 300ms, ease-in-out;

  &:hover {
    background-color: darken($white, 7%);
  }

  @include tablet-responsive {
    width: 46%;
    margin: 0px;
    margin-bottom: 5%;
  }


  &__image {
    position: relative;

    & img {
      width: 100%;
      height: 175px;
      object-fit: cover;
      border-radius: 15px 15px 0px 0px;
    }
  
      &--new {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 15px;
        top: 12px;
        width: 80px;
        height: 29px;
        border-radius: 2px;
        font-size: 14px;
        background-color: $color-tertiary;
        color: darken($color-tertiary, 45%);
      }
    }

  &__info {
    padding: 15px;
  
    &__text {
      width: 90%;

      & h3 {
        margin: 0px;
        font-size: 18px;
      }

      & p {
        font-weight: 300;
        font-size: 17px;
        margin-top: 3px;
      }
    }
  }
}

.restaurant-card__like {
  position: absolute;
  bottom: 10%;
  right: 5%;
  padding-right: 20px;
  padding-bottom: 25px;
}


