

/* <!-- COLORS --> */

$color-primary: #9356dc;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$white: #ffffff;
$shadow : #d5d5d5;


/* <!-- GRADIENT --> */

$gradient:linear-gradient($color-secondary, $color-primary);

/* <!-- DEGREE GRADIENT --> */

$degree: 165deg;


/* <!-- RESPONSIVE --> */

$breakpointstablet: 768px;
$breakpointsdesktop: 1024px;
