/* <!-- COLORS --> */
/* <!-- GRADIENT --> */
/* <!-- DEGREE GRADIENT --> */
/* <!-- RESPONSIVE --> */
/* <!-- GRADIENT --> */
/* <!-- RESPONSIVE --> */
/* <!-- LOADER --> */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes flash {
  0% {
    color: #9356dc;
    text-shadow: 0 0 7px #9356dc;
  }
  90% {
    color: #FF79DA;
    text-shadow: none;
  }
  100% {
    color: #9356dc;
    text-shadow: 0 0 7px #9356dc;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  99% {
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -20;
  }
}
/* <!-- FADE-IN-PAGE-MENU --> */
@keyframes fade-in {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-in-out;
  }
}
.fade-in--1delay {
  animation: fade-in 2s 0ms both;
}

.fade-in--2delay {
  animation: fade-in 2s 1000ms both;
}

.fade-in--3delay {
  animation: fade-in 2s 1500ms both;
}

/* Heart fill */
@keyframes heart-fill {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  15% {
    opacity: 0.25;
  }
  80% {
    opacity: 1;
    transform: scale(1);
  }
  85% {
    opacity: 1;
    transform: scale(1.1);
  }
  95% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
* {
  box-sizing: border-box;
  margin: 0px;
}

/* <!-- GENERAL --> */
* {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/* <!-- GENERAL FONT TEXT --> */
/* <!-- HEADING --> */
/* <!-- BUTTON GRADIENT --> */
.button-gradient {
  margin: 30px 0px;
  padding: 1% 4%;
  height: 50px;
  border: none;
  border-radius: 50px;
  background-image: linear-gradient(165deg, #FF79DA, #9356dc);
  color: #ffffff;
  font-size: 16px;
  box-shadow: 0px 4px 15px 0px rgb(166, 133, 133);
  cursor: pointer;
  transition: 300ms ease-in-out;
}
.button-gradient:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 15px 2px rgb(166, 133, 133);
}

/* <!-- BUTTON LIKE --> */
.button-like {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}
.button-like i {
  position: absolute;
}

.animheartsolid {
  opacity: 0;
}
.animheartsolid:hover {
  opacity: 1;
  background-clip: text;
  -webkit-background-clip: text;
  /* necessaire pour le navigateur chrome */
  color: transparent;
  background-image: linear-gradient(165deg, #9356dc, #FF79DA);
  animation: heart-fill 500ms forwards ease;
  transform-origin: bottom;
}

.loader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.92;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: disappear 3s both ease-in-out;
}
@media screen and (min-width: 768px) {
  .loader {
    flex-direction: row;
  }
}

.loader-quart {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  margin-bottom: 150px;
  border-radius: 50px;
  border: 6px solid #9356dc;
  opacity: 0.8;
}
@media screen and (min-width: 768px) {
  .loader-quart {
    margin-left: 20px;
    margin-bottom: 0;
  }
}
.loader-quart:after {
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  content: "";
  border: 6px solid transparent;
  border-radius: 50px;
  border-top-color: #99E2D0;
  animation: spin 1s linear infinite;
}

.letter {
  color: #FF79DA;
  font-size: 65px;
  letter-spacing: 2px;
  margin-bottom: 150px;
  animation: flash 1.2s linear 3s infinite;
}
.letter:nth-child(1) {
  animation-delay: 0.1s;
}
.letter:nth-child(2) {
  animation-delay: 0.2s;
}
.letter:nth-child(3) {
  animation-delay: 0.3s;
}
.letter:nth-child(4) {
  animation-delay: 0.4s;
}
.letter:nth-child(5) {
  animation-delay: 0.5s;
}
.letter:nth-child(6) {
  animation-delay: 0.6s;
}
.letter:nth-child(7) {
  animation-delay: 0.7s;
}
@media screen and (min-width: 768px) {
  .letter {
    font-size: 80px;
    letter-spacing: 15px;
  }
}

body {
  width: 100%;
}

.header {
  padding: 2%;
}
.header__logo {
  margin: 0;
  font-size: 32px;
  text-align: center;
  font-family: "Shrikhand";
}
.header__returnarrow {
  position: absolute;
  padding-top: 10px;
  padding-left: 15px;
  font-size: 20px;
  color: #333333;
}

.footer {
  width: 100%;
  padding: 16px;
  background-color: #333333;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 0;
    padding-right: 60px;
  }
}
.footer__heading {
  margin: 0px 0px 10px 0px;
  font-family: "Shrikhand";
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .footer__heading {
    padding-top: 80px;
    padding-left: 70px;
    order: 5;
  }
}
.footer__nav {
  display: flex;
  align-items: none;
  font-size: 16px;
}
.footer__nav p {
  padding-top: 5px;
}
@media screen and (min-width: 768px) {
  .footer__nav p {
    padding-top: 85px;
  }
}
.footer__nav__icons {
  margin-right: 15px;
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11px;
  height: 13px;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .footer__nav__icons {
    margin-right: 15px;
    margin-left: 15px;
    padding-top: 95px;
  }
}
.footer__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
  padding-top: 10px;
}
@media screen and (min-width: 768px) {
  .footer__info {
    flex-direction: row;
    gap: 25px;
    padding-top: 85px;
    padding-left: 50px;
  }
}

/* <!-- INFO-LOCALISATION --> */
.info-localisation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  gap: 17px;
  border: 1px solid #eaeaea;
  background-color: #eaeaea;
  box-shadow: 3px 2px 7px 1px grey;
  font-weight: 400;
}

/* <!-- SEARCH-RESTAURANTS --> */
.search-restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  background-color: whitesmoke;
  text-align: center;
}
.search-restaurants__heading {
  width: 70%;
  margin: 10px 0px;
}
@media screen and (min-width: 768px) {
  .search-restaurants__heading {
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 1024px) {
  .search-restaurants__heading {
    font-size: 40px;
    margin-bottom: 20px;
  }
}
.search-restaurants p {
  width: 85%;
  font-size: 18px;
  font-weight: 300;
}

/* <!-- OPERATION --> */
.explain-operation {
  padding: 50px 0px;
}
.explain-operation__heading {
  margin: 10px 0px;
  padding-left: 3%;
}
@media screen and (min-width: 768px) {
  .explain-operation__heading {
    padding-left: 8%;
  }
}
.explain-operation__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 90%;
  padding-bottom: 20px;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .explain-operation__list {
    flex-direction: row;
    justify-content: space-around;
    width: 85%;
  }
}

.explain-step {
  display: flex;
  align-items: center;
  height: 70px;
  gap: 4%;
  margin: 15px 0px;
  background-color: whitesmoke;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px #d5d5d5;
  transition: background-color 300ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .explain-step {
    width: 30%;
  }
}
.explain-step:hover {
  background-color: #ededed;
}
.explain-step:hover > .explain-step__icon {
  color: #9356dc;
}
.explain-step__number {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -10px;
  height: 24px;
  width: 24px;
  border-radius: 50px;
  background-color: #9356dc;
  color: #ffffff;
}
.explain-step__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 25px;
  color: #7e7e7e;
}
.explain-step__instruction {
  font-weight: 500;
}

/* <!-- RESTAURANTS-LIST --> */
.list-restaurants {
  display: flex;
  flex-direction: column;
  padding: 50px 15px 50px 15px;
  background-color: #f6f6f6;
}
@media screen and (min-width: 768px) {
  .list-restaurants {
    padding-left: 110px;
    padding-right: 110px;
  }
}
.list-restaurants__heading {
  padding-bottom: 20px;
}
.list-restaurants__container {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .list-restaurants__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.restaurant-card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 251px;
  margin-bottom: 5%;
  /* (espacement entre les cards) */
  border-radius: 15px;
  background-color: #ffffff;
  transition: 300ms, ease-in-out;
}
.restaurant-card:hover {
  background-color: #ededed;
}
@media screen and (min-width: 768px) {
  .restaurant-card {
    width: 46%;
    margin: 0px;
    margin-bottom: 5%;
  }
}
.restaurant-card__image {
  position: relative;
}
.restaurant-card__image img {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.restaurant-card__image--new {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 15px;
  top: 12px;
  width: 80px;
  height: 29px;
  border-radius: 2px;
  font-size: 14px;
  background-color: #99E2D0;
  color: #217460;
}
.restaurant-card__info {
  padding: 15px;
}
.restaurant-card__info__text {
  width: 90%;
}
.restaurant-card__info__text h3 {
  margin: 0px;
  font-size: 18px;
}
.restaurant-card__info__text p {
  font-weight: 300;
  font-size: 17px;
  margin-top: 3px;
}

.restaurant-card__like {
  position: absolute;
  bottom: 10%;
  right: 5%;
  padding-right: 20px;
  padding-bottom: 25px;
}

/* <!-- PAGE-MENU--> */
.page-restaurant-image {
  position: relative;
  width: 100%;
  height: 275px;
}
@media screen and (min-width: 1024px) {
  .page-restaurant-image {
    height: 400px;
  }
}
.page-restaurant-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  position: relative;
  top: -20px;
  margin-bottom: -20px;
  padding-left: 10px;
  background-color: #f0f0f0;
  border-radius: 25px 25px 0px 0px;
}
@media screen and (min-width: 768px) {
  .menu {
    margin-left: 12%;
    margin-right: 12%;
  }
}
.menu__heading {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 400px) {
  .menu__heading {
    justify-content: center;
  }
}
.menu__heading h2 {
  padding-top: 25px;
  padding-left: 5px;
  font-family: "Shrikhand";
}
.menu__button-order {
  display: flex;
  justify-content: center;
}

/* <!-- LIST-CARD --> */
.menu__course__container {
  padding-left: 5px;
  padding-right: 10px;
}

.course-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .course-list {
    padding-left: 15%;
    padding-right: 15%;
  }
}
.course-list__heading {
  position: relative;
  margin: 4% 0% 2% 0%;
  padding: 10px 0px;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}
.course-list__heading::after {
  display: block;
  position: absolute;
  bottom: 2px;
  content: "";
  width: 40px;
  height: 4px;
  background-color: #99E2D0;
}

.course-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0px;
  padding: 0;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px #d5d5d5;
  overflow: hidden;
  cursor: pointer;
}
.course-card:hover > .course-card__select-button {
  margin-right: 0px;
}
.course-card:hover > .course-card__select-button::after {
  transform: rotate(360deg);
}
.course-card__info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 2%;
  gap: 2%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.course-card__description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding: 5px;
}
.course-card__description h4 {
  margin: 0;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.course-card__description p {
  margin: 0;
  font-size: 15px;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.course-card__price {
  display: flex;
  align-items: flex-end;
  padding: 5px;
  font-weight: 700;
}
.course-card__price p {
  margin: 0;
}
.course-card__select-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  margin-right: -20%;
  border-radius: 0px 15px 15px 0px;
  background-color: #99E2D0;
  transition: margin-right 600ms ease-in-out;
}
.course-card__select-button::after {
  display: inline-block;
  font-weight: 900;
  font-size: 25px;
  content: "\f058";
  color: #ffffff;
  transition: transform 600ms ease-in-out;
  font-family: "Font Awesome 5 Free";
}/*# sourceMappingURL=style.css.map */