* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

.loader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.92;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: disappear 3s linear 1s 1 forwards;
}

/* *************** penser à mettre le loader en dessous en media queri**********************
  */

.loader-quart {
  position: relative;
  width: 60px;
  height: 60px;
  margin-bottom: 150px;
  margin-right: 40px;
  border-radius: 50px;
  border: 6px solid #9356dc;
  opacity: 0.8;
}

.loader-quart:after {
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  content: "";
  border: 6px solid transparent;
  border-radius: 50px;
  border-top-color: #99e2d0;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.letter {
  color: #ff79da;
  font-size: 80px;
  letter-spacing: 15px;
  margin-bottom: 150px;
  animation: flash 1.2s linear 3s infinite;
}

@keyframes flash {
  0% {
    color: #9356dc;
    text-shadow: 0 0 7px #9356dc;
  }
  90% {
    color: #ff79da;
    text-shadow: none;
  }
  99% {
    color: #9356dc;
    text-shadow: 0 0 7px #9356dc;
  }
  100% {
    /*faire disparaitre l'animation sur la fin*/
    opacity: 0;
    z-index: -1;
  }
}

.letter:nth-child(1) {
  animation-delay: 0.1s;
}
.letter:nth-child(2) {
  animation-delay: 0.2s;
}
.letter:nth-child(3) {
  animation-delay: 0.3s;
}
.letter:nth-child(4) {
  animation-delay: 0.4s;
}
.letter:nth-child(5) {
  animation-delay: 0.5s;
}
.letter:nth-child(6) {
  animation-delay: 0.6s;
}
.letter:nth-child(7) {
  animation-delay: 0.7s;
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  99% {
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -20;
  }
}

/* <!-- HEADER --> */

.header {
  padding: 2%;
}

.header__logo {
  margin: 0;
  font-size: 32px;
  text-align: center;
  font-family: shrikhand;
}

/* <!-- INFO-LOCALISATION --> */
.info-localisation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  gap: 17px;
  border: 1px solid #eaeaea;
  background-color: #eaeaea;
  box-shadow: 3px 2px 7px 1px grey;
  font-weight: 500;
}

/* <!-- SEARCH-RESTAURANTS --> */

.search-restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: auto >>> à tester */
  padding: 20px 0px;
  background-color: #f6f6f6;
  text-align: center;
}

.search-restaurants__heading {
  width: 70%;
  /* à tester pour aller à la ligne */
  margin: 10px 0px;
}

.search-restaurants p {
  width: 85%;
  font-size: 18px;
  font-weight: 300;
}

.button-gradient {
  border-radius: 50px;
  color: white;
  background: linear-gradient(#ff79da, #9356dc);
  font-size: 16px;
  margin: 30px 0px;
  padding: 10px 50px;
  height: 50px;
  border: none;
  box-shadow: 0px 4px 10px 0px rgb(166, 133, 133);
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.button-gradient:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 15px 2px rgb(166, 133, 133);
}

/* <!-- OPERATION --> */

.explain-operation {
  /* margin: auto; */
  padding: 50px 0px;
}
.explain-operation__heading {
  margin: 10px 0px;
  padding-left: 15px;
}
.explain-operation__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 90%;
  padding-bottom: 20px;
  margin: auto;
}
.explain-step {
  display: flex;
  align-items: center;
  height: 70px;
  gap: 4%;
  margin: 15px 0px;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px #d5d5d5;
  transition: background-color 300ms ease-in-out;
}

.explain-step:hover {
  background-color: #f0eded;

  & > .explain-step__icon {
    color: #9356dc;
  }
}

.explain-step__number {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -10px;
  height: 24px;
  width: 24px;
  border-radius: 50px;
  background-color: #9356dc;
  color: white;
}

.explain-step__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 25px;
  color: #7e7e7e;
  /* transition au survol vers le rose */
}

.explain-step__instruction {
  font-weight: 500;
}

/* <!-- RESTAURANTS-LIST --> */

.list-restaurants {
  display: flex;
  flex-direction: column;
  /* margin: auto; */
  padding: 50px 15px 50px 15px;
  background-color: #f6f6f6;
}

.list-restaurants__heading {
  padding-bottom: 20px;
}

.list-restaurants__container {
  width: 100%;
}

.restaurant-card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 251px;
  margin-bottom: 5%;
  /* (espacement entre les cards) */
  border-radius: 15px;
  background-color: white;
  transition: 300ms, ease-in-out;
}

.restaurant-card:hover {
  background-color: #f0eded;
}

.restaurant-card__image {
  position: relative;
}

.restaurant-card__image img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.restaurant-card__image--new {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 15px;
  top: 12px;
  width: 80px;
  height: 29px;
  border-radius: 2px;
  font-size: 14px;
  background-color: #99e2d0;
  color: #008766;
}

.restaurant-card__info {
  padding: 15px;
}

.restaurant-card__info__text {
  width: 90%;
}

.restaurant-card__info__text h3 {
  margin: 0px;
  font-size: 18px;
}

.restaurant-card__info__text p {
  font-weight: 300;
  font-size: 17px;
  margin-top: 3px;
}

.restaurant-card__like {
  position: absolute;
  bottom: 10%;
  right: 5%;
  padding-right: 20px;
  padding-bottom: 25px;
}

.button-like {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

.button-like i {
  position: absolute;
}

.animheartsolid {
  opacity: 0;
  transition: all 500ms ease-in-out;
}

.animheartsolid:hover {
  opacity: 1;
  color: transparent;
  background-image: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
}
/* <!-- FOOTER --> */

footer {
  width: 100%;
  padding: 16px;
  background-color: #353535;
  color: white;
}

.footer__heading {
  margin: 0px 0px 10px 0px;
  font-family: Shrikhand;
  font-size: 18px;
}

.footer__nav {
  display: flex;
  align-items: none;
  font-size: 16px;
}

.footer__nav p {
  padding-top: 5px;
}
.footer__nav__icons {
  margin-right: 15px;
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11px;
  height: 13px;
  color: white;
}

.footer__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
  padding-top: 10px;
}

/***** Responsive *****/

@media screen and (min-width: 768px) {
  /* <!-- SEARCH-RESTAURANTS --> */

  .search-restaurants__heading {
    margin-bottom: 25px;
  }

  /* <!-- OPERATION --> */

  .explain-operation__heading {
    padding-left: 110px;
  }

  .explain-operation__list {
    flex-direction: row;
    justify-content: space-around;
    width: 85%;
  }

  .explain-step {
    width: 30%;
  }

  /* <!-- RESTAURANTS-LIST --> */

  .list-restaurants {
    padding-left: 110px;
    padding-right: 110px;
  }

  .list-restaurants__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .restaurant-card {
    width: 46%;
    margin: 0px;
    margin-bottom: 5%;
  }

  /* <!-- FOOTER --> */

  footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 0;
    padding-right: 60px;
  }

  .footer__heading {
    padding-top: 80px;
    padding-left: 70px;
    order: 5;
  }

  .footer__nav p {
    padding-top: 85px;
  }
  .footer__nav__icons {
    margin-right: 15px;
    margin-left: 15px;
    padding-top: 95px;
  }

  .footer__info {
    flex-direction: row;
    gap: 25px;
    padding-top: 85px;
    padding-left: 50px;
  }
}

@media screen and (min-width: 1024px) {
  /* <!-- SEARCH-RESTAURANTS --> */

  .search-restaurants__heading {
    font-size: 40px;
    margin-bottom: 20px;
  }
}
